<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <mat-action-list>
      <button mat-list-item>
        <mat-icon class="mr-3">dashboard</mat-icon>
        <div class="d-flex justify-content-between w-100">
          <span> Dashboard </span>
          <mat-icon>arrow_right</mat-icon>
        </div>
      </button>

      

      <!-- <button mat-list-item [matMenuTriggerFor]="animals">
        <div class="d-flex justify-content-between w-100">
          <span>Categories</span>
          <mat-icon>arrow_right</mat-icon>
        </div>
      </button> -->

      <!-- <mat-menu #animals="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="vertebrates">Bitches Be'th Crazy</button>
        <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
      </mat-menu>

      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item >Hoes Be Mad</button>
        <button mat-menu-item >Clap Back</button>
        <button mat-menu-item [matMenuTriggerFor]="fish">The Tea Spilleth</button>
      </mat-menu> -->

      <!-- <mat-menu #invertebrates="matMenu">
        <button mat-menu-item>Insects</button>
        <button mat-menu-item>Molluscs</button>
        <button mat-menu-item>Crustaceans</button>
        <button mat-menu-item>Corals</button>
        <button mat-menu-item>Arachnids</button>
        <button mat-menu-item>Velvet worms</button>
        <button mat-menu-item>Horseshoe crabs</button>
      </mat-menu> -->

      <!-- <mat-menu #fish="matMenu">
        <button mat-menu-item>sksksksksks</button>
        <button mat-menu-item>aha-hah</button>
        <button mat-menu-item>jansd</button>
      </mat-menu> -->
<!-- 
      <mat-menu #amphibians="matMenu">
        <button mat-menu-item>Sonoran desert toad</button>
        <button mat-menu-item>Western toad</button>
        <button mat-menu-item>Arroyo toad</button>
        <button mat-menu-item>Yosemite toad</button>
      </mat-menu>

      <mat-menu #reptiles="matMenu">
        <button mat-menu-item>Banded Day Gecko</button>
        <button mat-menu-item>Banded Gila Monster</button>
        <button mat-menu-item>Black Tree Monitor</button>
        <button mat-menu-item>Blue Spiny Lizard</button>
        <button mat-menu-item disabled>Velociraptor</button>
      </mat-menu> -->
    </mat-action-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <router-outlet></router-outlet> -->
    <h1>Hello World</h1>
  </div>

</mat-drawer-container>