<div class="h-100 d-flex justify-content-center px-0" style="background-color: #212121;" >
  <div class="col-sm-8 px-0">
    <app-home-background> </app-home-background>
  </div>
  <div class="col-sm-4 d-flex justify-content-center align-items-center">
    <mat-card style="background-color: inherit;" class="mat-elevation-z2">
      <mat-card-header class="d-flex justify-content-center " >
        <mat-card-title >Password Manager</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <app-auth-routes></app-auth-routes>
    </mat-card>
  </div>
</div>